<%= form_tag login_path do %>
    <%= label_tag :username %>
    <%= text_field_tag :username %><br>
    <%= label_tag :password %>
    <%= password_field_tag :password %><br>
    <%= submit_tag "Login!" %><br>
<% end %>

<h3>Or Login with Google:</h3>
<%= button_to "Google", "/auth/google_oauth2" %>