<div class="col-25">
    <div class="container">
      <h4>Your Cart </h4>
        <p>Brand: <%= @bicycle.brand %></p>
        <p><img src=<%= @bicycle.urlpicture %>></p>
        <p>Price: $<%= @bicycle.price %></p>
      <hr>
        </div>
  </div>
</div>
<%= form_for [@bicycle , @payment] do |p| %>
  <%= render partial: "layouts/errors", locals: {record: @payment} %>

<div class="row">
  <div class="col-75">
    <div class="container">
      <form action="/action_page.php">

        <div class="row">
          
          <div class="col-50">
          
            <h3>Payment</h3>
           
            
            <%= p.label :card_number %>
            <%= p.text_field :card_information %><br>
            <div class="row">
              <div class="col-50">
              <%= p.label :exp_year %>
              <%= p.text_field :exp_date %><br>
              </div>
              <div class="col-50">
              <%= p.label :security_code %>
              <%= p.text_field :security_code %><br>
              </div>
            </div>
          </div>

        </div>
        
        <%= p.submit "Submit Payment"%><br>
      </form>
    </div>
  </div>
  <% end %>

  