<h1><img src=<%= @bicycle.urlpicture %>></h1>
<h1>Brand: <%= @bicycle.brand %></h1>
<h1>Wheel Size: <%= @bicycle.wheel_size %></h1>
<h1>Color: <%= @bicycle.color %></h1>
<h1>Price: $<%= @bicycle.price %></h1>
</br>
<h1>Payment</h1>
    <p><%= button_to "Card ", checkout_card_path , method: :post , params: {id: @bicycle.id}%></p>
   

</br>
</br>
</br>
