<h1>Your Payment Information</h1>
 <% @payments.each do |p| %>
    <p>Credit Card Number: <%= p.card_information %></p>
    <p>Experation Date:<%= p.exp_date %></p>
    <p>Security Code:<%= p.security_code %></p>
    <p>Bicycle Brand:<%= p.bicycle.brand %></p>
    <p>Username:<%= p.user.username %></p>
<% end %>



